<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
    <property name="connection.driver_class">DataAccessLogic.Component.OracleOdpClientDriver,DataAccessLogic.Component</property>
    <property name="connection.connection_string">Data Source=dupparus;User ID=parus;Password=q;Validate Connection=true</property>
    <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
    <property name="show_sql">true</property>
    <property name="cache.use_minimal_puts">false</property>
    <property name="cache.use_query_cache">false</property>
    <property name="generate_statistics">false</property>
    <property name="use_proxy_validator">true</property>
    <property name="adonet.wrap_result_sets">true</property>
<!--    <mapping assembly="ParusModel" />-->
    <mapping assembly="Learning" />
  </session-factory>
</hibernate-configuration>