<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrystalReports.Properties.Settings.ConnectionString"
            connectionString="Data Source=dupparus.ora.vz;Persist Security Info=True;User ID=parus;Password=q;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>